@model IEnumerable<HLWebRole.HLServiceReference.CommunityDto>
@if (Model != null)
{
    <ul id="item-list">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Details", "Community",
        new { id = item.CommunityID })">
                @if (item.HasPhoto)
                {
                    <img alt="@item.Name" src="@item.MediumSizeBlobUri" width="130" height="100" />
                }
                else
                {
                    <img alt="" src="/Content/images/noPhotoAvailable.jpg" width="130" height="100" />
                }
                <br />
                <span><b>@Html.Truncate(@item.Name, 25)</b>&nbsp;
                    @if (item.LatestActivity != null)
                    {
                
                        <text>Latest Activity: @item.LatestActivity&nbsp;&nbsp;</text>
                    }
                    #Users @item.NumberOfUsersInCommunity</span> </a></li>
        }
    </ul>
}
