@model HLWebRole.Models.CommunityModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUserHome.cshtml";
}
@*Below are the script references for the Uploadify file uploader plugin and validation.*@
<link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.v2.1.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/uploadify/swfobject.js")" type="text/javascript"></script>
@using (Html.BeginForm("Create", "Community", FormMethod.Post))
{  
    <fieldset>
        <legend>Create Community</legend>
        <div id="wrapper-div">
            <div id="two-columns-left-column">
                @Html.ValidationSummary(true)
                <div id="wkt-validation-messages">
                    @Html.ValidationMessageFor(model => model.PolygonWkt)<br />
                    @Html.ValidationMessageFor(model => model.PolygonWktB)<br />
                    @Html.ValidationMessageFor(model => model.PolygonWktC)
                </div>
                <div class="editor-label">
                    @Html.Label("Type Location To Adjust Map:")
                </div>
                <div class="editor-field">
                    @Html.TextBox("Address")<br />
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)<br />
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description, 6, 44, null)<br />
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                @Html.HiddenFor(model => model.AddedByUserID)
                @Html.HiddenFor(model => model.PolygonWkt)
                @Html.HiddenFor(model => model.PolygonWktB)
                @Html.HiddenFor(model => model.PolygonWktC)
                <div class="editor-label">
                    @Html.Label("Add Your Photo:")
                </div>
                <br />
                <div id="fileuploader">
                </div>
                <div id="mediaProcessingGif">
                    <img src="/Content/images/processingMedia.gif" alt="x" width="150" />
                </div>
                <p>
                    <input type="button" class="button" id="btnSave" value="Create" />
                </p>
            </div>
            <div id="two-columns-right-column">
                <div id="map-div">
                    @{Html.RenderPartial("_MapCommunityCreate", Model);}
                </div>
            </div>
        </div>
    </fieldset>
}
<script type="text/javascript">

    // We use the "system-message" div to communicate error messages to the UI in case something goes wrong, I have an SystemMessageModel with the property
    // "SystemMessage", which is used to transport the error message from the controller to the view.
    var systemMessageDiv = $("#system-message");
    systemMessageDiv.hide();

    // Displays the error message through the "system-message" div.
    function ShowSystemMessage(systemMessage) {
        systemMessageDiv.text(systemMessage);
        systemMessageDiv.addClass("error");
        systemMessageDiv.show();
    }

    var mediaProcessingGif = $("#mediaProcessingGif");
    mediaProcessingGif.hide();

    /* This flag tell us whether Uploadify has any files to upload, in case of a file is added to Uploadify's queue of files to upload, the
    'onSelectOnce' event will be fired and set the noFilesToUpload flag to false. */
    var noFilesToUpload = true;
    var communityId;


    /*********************** Uploadify File Uploader plugin **********************************/
    $(window).load(
    function () {
        $("#fileuploader").uploadify({
            'uploader': '@Url.Content("/Scripts/uploadify/uploadify.swf")',
            'cancelImg': '/Scripts/uploadify/cancel.png',
            'buttonText': 'Browse For File',
            'script': '@Url.Action("Upload")',
            'folder': '/uploads',
            'scriptData': { 'hostItemId': communityId },
            'onAllComplete': function (event, data) { window.location = "/Community/Area/" + communityId; },
            'onError': function (a, b, c, d) {
                if (d.type === "File Size")
                    alert("The File: " + c.name + " Violates the File Size Limit, which is: " + Math.round(d.info / (1024 * 1024)) + "MB, Please Remove the File!")
            },
            'onSelectOnce': function (event, data) { noFilesToUpload = false; },
            'fileDesc': 'Media Files',
            'fileExt': '*.jpg;*.jpeg;',
            'sizeLimit': 27000000,
            'multi': false,
            'auto': false
        });
        /*********************** End Uploadify File Uploader plugin **********************************/

        $("#btnSave").click
        (
            function () {
                /* Because we are posting the form asynchronously we need to enforce validation with the code just below. */
                var isFormValid = $('form').validate().form();
                if (isFormValid) {
                    var url = $("form").attr("action");
                    var inputData = $("form").serialize();
                    mediaProcessingGif.show();
                    $.post(url, inputData, function (data) {
                        // Hiding eventual old error messages.
                        systemMessageDiv.hide();

                        if (data != null) {

                            // In case of error we show an error message.
                            if (data.SystemMessage != null) {
                                ShowSystemMessage(data.SystemMessage);
                                mediaProcessingGif.hide();
                                return;
                            }

                            communityId = data.CommunityID;
                            $('#fileuploader').uploadifySettings("scriptData", { 'hostItemId': communityId });
                            $('#fileuploader').uploadifyUpload();
                            /* The noFilesToUpload flag determines how we are being redirected to the Details view after processing form input.
                            If noFilesToUpload is false, we are being redirected to the Details view, via Uploadify's onAllComplete event.
                            If noFilesToUpload is true, we are being redirected to the Details view via the code just below. */
                            if (noFilesToUpload) {
                                if (communityId != null) {
                                    window.location = "/Community/Area/" + communityId;
                                }
                            }
                        };
                    });
                }
            }
        );
    }
);

</script>
