@model IEnumerable<HLWebRole.HLServiceReference.CommunityDto>
@{
    ViewBag.Title = "Communities - " + ViewBag.KOMNAVN;
    Layout = "~/Views/Shared/_LayoutThreeColumn.cshtml";
}
@section GeoNavigationMenuLinks
{
    <h2>
        Communities - @ViewBag.KOMNAVN Municipality | @Html.ActionLink("News", "Municipality", "News", new { id = @ViewBag.Municipality }, null)
        | @Html.ActionLink("Users", "Municipality", "User", new { id = @ViewBag.Municipality }, null)
        | @Html.ActionLink("Areas", "Municipality", "Area", new { id = @ViewBag.Municipality }, null)</h2>
}
@section GeoNavigationMenu
{
    @{Html.RenderAction("_MunicipalityMenu", "GeoNavigationMenu", new { municipality = @ViewBag.Municipality });}
}
<div id="wrapper-div">
    <div id="map-div">
        @{Html.RenderPartial("_MapCommunityList", Model);}
    </div>
</div>
@section ItemList
{
    <ul id="item-list">
        @{Html.RenderPartial("_CommunityList", Model);}
    </ul>
}
