@*Displays the videos pertaining to a news item.*@
@model HLWebRole.Models.NewsItemModel
@*The references below are necessary for the jQuery UI Tabs to function.*@
<link href="@Url.Content("~/Content/Theme_Cupertino/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
@{
    /* We only display this section in case there is any videos associated with the NewsItem. */
    if (Model.Videos.Count() > 0)
    {
    <div id="tabs">
        @if (Model != null && Model.Videos != null)
        {
            var counter = 1;
                
            <script type="text/javascript">
                jQuery(function () {
                    jQuery("#tabs").tabs();
                });  
            </script>      
        
            <ul>
                @foreach (var v in Model.Videos)
                {
                    /* If the video has got a title we display that on the tab, otherwise we just write Video @counter on the tab. */
                    if (v.Title.Length < 1)
                    {
                    <li><a href="#tabs-@counter">Video @counter </a></li>
                    }
                    else
                    {
                    <li><a href="#tabs-@counter">@HttpUtility.HtmlAttributeEncode(@v.Title) </a></li>
                    }
                    counter++;
                }
            </ul>
                counter = 1;
                /* We make a new tab for each video the NewsItem contains. */
                foreach (var v in Model.Videos)
                {
            <div id="tabs-@counter">
                @Video.MediaPlayer(path: v.BlobUri,
                width: "500",
                height: "420",
                autoStart: false,
                playCount: 1,
                uiMode: "full",
                stretchToFit: true,
                enableContextMenu: false,
                mute: false,
                volume: 75)
            </div>
                    counter++;
                }
        }
    </div>   
    }
}
